# Potat API Bearer Token
# Required
BEARER_TOKEN=

# Potat API execute endpoint url
# Optional, defaults to https://api.potat.app/execute
# API_URL=https://api.potat.app/execute

# PotatBotat Bot Prefix
# Optional, defaults to #
# BOT_PREFIX=#

# Web port that hosts web dasboard and API
# Optional, defaults to 3000
# WEB_PORT=3000

# Web Dashboard Enabled Boolean
# Optional, defaults to true
# WEB_DASHBOARD_ENABLED=true

# Console Stats Table Enabled Boolean
# Optional, defaults to true
# CONSOLE_STATS_ENABLED=true

# Delay in ms between command executions
# Optional, defaults to 15000
# COMMAND_DELAY=15000

# Delay in ms between plan executions
# Optional, defaults to 60000
# PLAN_DELAY=60000
